<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone">
    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".MyFirebaseMessagingService"
            android:exported="true" />
        <activity
            android:name=".Activity8Listitem"
            android:exported="true" />
        <activity
            android:name=".Activity7Groupchat"
            android:exported="true" />
        <activity
            android:name=".Activity6Individchat"
            android:exported="true" />
        <activity
            android:name=".Activity5Writer"
            android:exported="true" />
        <activity
            android:name=".Activity4Reader"
            android:exported="true" />
        <activity
            android:name=".Activity2Certified"
            android:exported="true" />
        <activity
            android:name=".Activity1Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity3Main"
            android:exported="true" />
    </application>

</manifest>